.divAboutUs {
  width: 100%;
  display: flex;
  justify-content: center;
}
.divAboutUs div {
  width: 80%;
}

.h1AboutUs {
  color: rgb(162, 161, 161);
  font-weight: 200;
  text-transform: none;
  text-shadow: none;
}
.taskAboutUs {
  display: flex;
}

p {
  margin-bottom: 25px;
}
